@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
}

.easter {
    margin: auto;
    max-width: 540px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.easter h1 {
    letter-spacing: 0.2px;
    color: rgb(252, 183, 105);
}

.easter>h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

body {
    background-color: rgb(22, 22, 22);
}

* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

.res {
    box-shadow: 0px 0px 7px rgb(90, 236, 163);
    height: 60px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(36, 36, 36);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

#easter-year {
    background-color: transparent;
    color: rgb(90, 236, 163);
    border: 2px solid rgb(90, 236, 163);
    border: 2px solid rgb(90, 236, 163);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    outline: none;
    margin-bottom: 20px;
    -moz-appearance: textfield;
    appearance: textfield;
}

#easter-year::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
}

.easter form {
    box-shadow: 0px 0px 7px rgb(90, 236, 163);
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(36, 36, 36);
}

#date {
    color: rgb(230, 230, 230);
    font-size: 20px;
}

.easter form h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

#year-title {
    margin-bottom: 10px;
}

.formats label {
    color: rgb(90, 236, 163);
}

.formats {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.formats label input {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid rgb(252, 183, 105);
    vertical-align: middle;
}

.formats label input:checked {
    background-color: rgb(252, 183, 105);
}

.formats button {
    width: 110px;
    height: 40px;
    background-color: transparent;
    color: rgb(90, 236, 163);
    border: 2px solid rgb(90, 236, 163);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease all;
    font-size: 14px;
}

.formats button:hover {
    background-color: rgb(90, 236, 163);
    color: black;
}